/* CSS MENU */
:root{
    --espacoBtnMenu: 30px;
    --tamanhoMenuAberto: 300px;
    --corSvgAtivo: #eee
}

.menu {
    z-index: 20;
    position: fixed;
    bottom: var(--espacoBtnMenu);
    right: var(--espacoBtnMenu);
}

.container_menu {
    width: 45px;
    height: 45px;
    border-radius: 50%;

    display: flex;
    align-content: center;
}

.btn_menu {
    z-index: 21;
    width: inherit;
    cursor: pointer;
    height: inherit;
    padding: 3px;
    font-size: 28px;
    border-radius: 50%;
    background: var(--cor2);
    box-shadow:  0 0 30px #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .5s cubic-bezier(.68, 1.55, .265, 1);
}

.container_menu .btn_menu svg{
    fill: var(--corSvgAtivo);  
}

.container_menu.ativo .btn_menu {
    background: var(--cor2);
    transform: rotate(-135deg);
}

svg {
    fill: #a55459;
    height: 25px;
    width: 25px;
}

.svg_ativo{
    fill: var(--corSvgAtivo);
}

.container_menu:after {
    position: absolute;
    bottom: var(--espacoBtnMenu);
    right: var(--espacoBtnMenu);

    content: '';
    width: 0;
    height: 0;
    border-radius: 50%;
    background: var(--cor2);

    transition: all .5s cubic-bezier(.68, 1.55, .265, 1);
}

.container_menu.ativo:after {
    bottom: calc(var(--tamanhoMenuAberto) - (var(--tamanhoMenuAberto) * 1.54));
    right: calc(var(--tamanhoMenuAberto) - (var(--tamanhoMenuAberto) * 1.5));
    width: var(--tamanhoMenuAberto);
    height: var(--tamanhoMenuAberto);
    box-shadow: 0 0 50px #fff;
    transition: all .5s cubic-bezier(.68, 1.55, .265, 1);
}

.nav_item {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 19;

    transition: all .5s cubic-bezier(.68, 1.55, .265, 1);
}

.container_menu.ativo .nav_item_1 {
    transform: translate(15px, -95px);
}

.container_menu.ativo .nav_item_2 {
    transform: translate(-35px, -75px);
}

.container_menu.ativo .nav_item_3 {
    transform: translate(-80px, -35px);
}

.container_menu.ativo .nav_item_4 {
    transform: translate(-100px, 15px);
}