@font-face {
    font-family: 'DentingIrama';
    src: url('./font/DentingIramaDemoRegular-BF66484f3277934.ttf') format('truetype');
}

@font-face {
    font-family: 'ChasingHearts';
    src: url('./font/Chasing\ Hearts\ -\ OTF.otf') format('opentype');
}

@font-face {
    font-family: 'IFound';
    src: url('./font/I\ Found\ My\ Valentine\ -\ OTF.otf') format('opentype');
}

@font-face {
    font-family: 'IFoundH';
    src: url('./font/I\ Found\ My\ Valentine\ Hearted\ -\ OTF.otf') format('opentype');
}

@font-face {
    font-family: 'Liebe';
    src: url('./font/Liebe\ finden\ -\ OTF.otf') format('opentype');
}

@font-face {
    font-family: 'ValentineCute';
    src: url('./font/Valentine\ Cute.ttf') format('truetype');
}

@font-face {
    font-family: 'MWHeart';
    src: url('./font/MWHeart.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'KGHearts';
    src: url('./font/KGHeartDoodles.ttf') format('truetype');
    font-style: normal;
}

:root {
    --font1: 'ChasingHearts';
    --font2: '';
    --font3: '';

    --cor1: #600000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.container_1 {
    display: flex;
    overflow: hidden;
    /* flex-wrap: wrap; */

}

.container_1 > section {
    flex: 1;
    height: 100vh;
    position: relative;
    overflow: hidden;
    min-width: 380px;
}

.container_1 > section div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0 0 20px var(--cor1);
}





/* COLUNA 1 */
.container_1 > .col_1 {
    /* background-color: aqua; */
}

.container_1 > .col_1 .box_1 {
    background-image: url(../img/fotos/img6.jpeg);
    width: 70%;
    height: 30%;
    /* left: -5%; */

    animation: col1box1 4s forwards 2s;
    top: 110vh;
    left: 10%;
}

.container_1 > .col_1 .box_2 {
    background-image: url(../img/fotos/img3.jpeg);
    width: 50%;
    height: 60%;
    /* right: -10%; */
    /* z-index: 1; */

    animation: col1box2 4s forwards 6s;
    top: 20%;
    right: 110vw;
}

.container_1 > .col_1 .box_3 {
    background-image: url(../img/fotos/img1.jpeg);
    width: 80%;
    height: 40%;
    /* top: 30%;
    left: -5%; */
    /* z-index: 2; */

    animation: col1box3 4s forwards 10s;
    top: 10%;
    left: 110vw;
}

.container_1 > .col_1 .box_4 {
    background-image: url(../img/fotos/img2.jpeg);
    width: 60%;
    height: 40%;
    /* bottom: -5vh; */
    /* z-index: 3; */

    animation: col1box4 4s forwards 14s;
    bottom: 30%;
    left: 110vw;
}

.container_1 > .col_1 .box_5 {
    background-image: url(../img/fotos/img4.jpeg);
    width: 70%;
    height: 50%;
    /* bottom: -5vh;
    right: -30%;
    z-index: 4; */

    animation: col1box5 4s forwards 18s;
    bottom: 30%;
    right: 110vw;
}

.container_1 .box_glass {
    position: fixed;
    top: calc(50vh - 32%);
    left: calc(50vw - 400px);

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(130deg, #ffffffaa 0%, #ffffff30);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: solid 1px #cccccc;
    box-shadow: 0 0 100px var(--cor1);

    height: 65%;
    max-height: 500px;
    width: 90%;
    max-width: 800px;
    z-index: 10;
}

.container_1 .box_glass p {
    width: 95%;
    /* max-width: 600px; */
    height: 80%;
    font-family: var(--font1);
    font-size: 32px;
    color: #111111;
    font-weight: 600;
    overflow: auto;
    padding: 0 10%;
    line-height: 48px;
    letter-spacing: 2px;
    text-align: justify;
}

html ::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    right: -50%;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #50000050;
}

html ::-webkit-scrollbar-track {
    border-radius: 50px;
    background: #cccccc50;
}

/* .box_glass::after{
    border-radius: 20px;
    content: '';
    background-image: linear-gradient(to bottom, #000000 0%, #ffffff 100%);
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    position: absolute;
    z-index:-2;
} */





/* COLUNA 2 */
.container_1 > .col_2 {
    /* background-color: plum; */
}

.container_1 > .col_2 .box_1 {
    background-image: url(./img/foto3.png);
    width: 80%;
    height: 60%;
    top: -10%;
    left: 5%;
}

.container_1 > .col_2 .box_2 {
    background-image: url(./img/foto4.png);
    width: 70%;
    height: 40%;
    top: 40%;
    left: 5%;
}

.container_1 > .col_2 .box_3 {
    background-image: url(./img/foto6.png);
    width: 80%;
    height: 30%;
    bottom: -5vh;
    right: -5%;
    z-index: 4;
}

.container_1 > .col_2 .box_4 {
    background-image: url(./img/foto1.png);
    width: 80%;
    height: 30%;
    right: -60%;
    z-index: 1;
}

.container_1 > .col_2 .box_5 {
    background-image: url(./img/foto5.png);
    width: 40%;
    height: 50%;
    top: 27%;
    right: -12%;
    z-index: 1;
}





/* COLUNA 3 */
.container_1 > .col_3 {
    background-color: lightgreen;
}

.container_1 > .col_3 .box_1 {
    background-image: url(./img/foto2.png);
    width: 50%;
    height: 50%;
    right: -1vw;
    top: -5vh;
}

.container_1 > .col_3 .box_2 {
    background-image: url(./img/foto4.png);
    width: 60%;
    height: 50%;
    top: 30%;
    left: 10%;
    z-index: 1;
}

.container_1 > .col_3 .box_3 {
    background-image: url(./img/foto3.png);
    width: 60%;
    height: 30%;
    bottom: -2vh;
    left: 0%;
    z-index: 1;
}

.container_1 > .col_3 .box_4 {
    background-image: url(./img/foto5.png);
    width: 40%;
    height: 60%;
    bottom: -2vh;
    right: 0;
    z-index: 1;
}





@media screen and (max-width: 1140px) {
    .container_1 > .col_2 {
        overflow: hidden;
    }

    .container_1 > .col_3 {
        display: none;
    }

    .container_1 .box_glass {
        left: calc(50vw - 250px);
        max-width: 500px;
    }
}

@media screen and (max-width: 760px) {
    .container_1 > .col_1 {
        overflow: hidden;
    }

    .container_1 .box_glass {
        left: calc(50vw - 170px);
        top: calc(50vh - 28%);
        max-width: 360px;
        min-width: auto;
        height: 55%;
    }

    .container_1 .box_glass p {
        font-size: 26px;
        line-height: 38px;
        padding: 0 2%;
    }

    .container_1 > .col_2 {
        display: none;
    }
}

@keyframes col1box1 {
    from {
        top: 110vh;
        left: 10%;
        z-index: 9;
    }

    to {
        top: 0;
        left: -5%;
        z-index: 0;
    }
}

@keyframes col1box2 {
    from {
        top: 20%;
        right: 110vw;
        z-index: 9;
    }

    to {
        top: 0;
        right: -10%;
        z-index: 1;
    }
}

@keyframes col1box3 {
    from {
        top: 10%;
        left: 110vw;
        z-index: 9;
    }

    to {
        top: 30%;
        left: -5%;
        z-index: 2;
    }
}

@keyframes col1box4 {
    from {
        bottom: 110vh;
        left: 20%;
        z-index: 9;
    }

    to {
        bottom: -5%;
        left: 0;
        z-index: 3;
    }
}

@keyframes col1box5 {
    from {
        bottom: 30%;
        right: 110vw;
        z-index: 9;
    }

    to {
        bottom: -5%;
        right: -30%;
        z-index: 4;
    }
}