/* CSS GLOBAL */
:root {
  --cor1: #600000;
  --cor2: #850024;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e0e0e;
}

.container_padrao{
  width: 100vw;
  height: 100vh;
  max-width: 768px;
}

.container_posicao {
  position: absolute;
  top: -110vh;
}

.entrada{
  animation: entrada forwards 1.2s;
  z-index: 1;
}

.saida{
  animation: saida 1.5s forwards;
  z-index: 0;
}

@keyframes entrada{
  0%{
    display: flex;
      top: -110vh;
    }
  100%{
      top: 0;
  }
}

@keyframes saida{
  0%{
    top: 0;
  }

  90%{
    top: 0;
  }
  
  100%{
    top: -110vh;
    display: none;
  }
}