/* CSS SEÇÃO 2 */
#sec_2 {
    /* background-image: url(../img/hearts.png); */
    /* border-image: ; */
    background-size: cover;
    background-position: center;
    background-color: goldenrod;
}

.container_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container_2 .box_glass {
    background: linear-gradient(130deg, #ffffffaa 0%, #ffffff30);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: solid 1px #cccccc;
    box-shadow: 0 0 100px var(--cor1);

    padding: 20px;

    text-align: center;

    opacity: 0;
    animation: opacidadeGlass2 4s forwards;
}

.container_2 h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'ValentineCute';
    margin: 0 auto 10px;
}

.container_2 p {
    font-family: 'ChasingHearts';
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 20px auto;
}

.container_2 > div > div{
    position: relative;
    display: flex;
    justify-content: center;
}

.container_2 button {
    padding: 6px 20px;
    border: none;
    border-radius: 13px;
    background-color: #850024;
    box-shadow: 0px -3px 15px 0px #ffffff40 inset;
    color: #fff;
    font-size: 14px;
    /* font-weight: 600; */
    letter-spacing: 1px;
    font-family: 'ValentineCute';
}

.container_2 span {
    width: 180px;
    height: 60px;
    background-color: #ffffff90;
    border-radius: 100%;
    filter: blur(20px);
    position: absolute;
    bottom: -50%;
    z-index: -1;
}

@keyframes opacidadeGlass2 {
    0% {
        opacity: 0;
    }

    40%{
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}