*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    overflow: hidden;
    /* flex-wrap: wrap; */
    
}

section{
    flex: 1;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
    min-width: 380px;
}

section div{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0 0 20px #600000;
}





/* COLUNA 1 */
.col_1{
    background-color: aqua;
}

.col_1 .box_1{
    background-image: url(./img/foto6.png);
    width: 70%;
    height: 30%;
    left: -5%;
}

.col_1 .box_2{
    background-image: url(./img/foto5.png);
    width: 50%;
    height: 60%;
    right: -10%;
    z-index: 1;
}

.col_1 .box_3{
    background-image: url(./img/foto2.png);
    width: 80%;
    height: 40%;
    top: 30%;
    left: -5%;
    z-index: 2;
}

.col_1 .box_4{
    background-image: url(./img/foto4.png);
    width: 60%;
    height: 40%;
    bottom: -5vh;
    z-index: 3;
}

.col_1 .box_5{
    background-image: url(./img/foto1.png);
    width: 70%;
    height: 50%;
    bottom: -5vh;
    right: -30%;
    z-index: 4;
}





/* COLUNA 2 */
.col_2{
    background-color: plum;
}

.col_2 .box_1{
    background-image: url(./img/foto3.png);
    width: 80%;
    height: 60%;
    top: -10%;
}





/* COLUNA 3 */
.col_3{
    background-color: lightgreen;
}




@media screen and (max-width: 1140px) {
    .col_2{
        overflow: hidden;
    }

    .col_3{
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .col_1{
        overflow: hidden;
    }

    .col_2{
        display: none;
    }
}